<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Вход | Салон красоты</title>
    <link rel="stylesheet" th:href="@{/css/styleLogin.css}" href="/css/styleLogin.css">
</head>

<body>
    <div class="logo-container">
        <div class="logo">Beauty Salon</div>
        <div class="logo-subtitle">Искусство красоты</div>
    </div>

    <div class="container">

        <div class="header">
            <h2>Вход в систему</h2>
        </div>

        <!-- Блок отображения ошибки -->
        <div th:if="${error}" class="error">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/login}" th:object="${loginRequest}" method="post">
            <div>
                <label for="login">Логин:</label>
                <input type="text" id="login" th:field="*{login}" placeholder="Введите логин" required/>
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" th:field="*{password}" placeholder="Введите пароль" required/>
            </div>
            <button type="submit">Войти</button>
        </form>

        <div class="auth-footer">
            <p>Нет аккаунта? <a th:href="@{/register}">Зарегистрируйтесь</a></p>
        </div>
    </div>
</body>
</html>